.inputs {
  width: 100%;
  //   height: 100vh;
  background: linear-gradient(65.98deg, #211ede 11.33%, #20196a 92.45%);
  padding: 80px 120px;
  .content {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 120px;

    .name {
      font-weight: 400;
      font-size: 20px;
      line-height: 39px;
      color: rgba(0, 0, 0, 0.89);
    }

    .forms {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-column-gap: 36px;
      grid-row-gap: 22px;

      .input {
        display: flex;
        flex-direction: column;
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }
        input {
          width: 350px;
          height: 36px;
          background: #ffffff;
          border: 1px solid #000000;
          border-radius: 8px;
        }
      }
    }

    .btn {
      width: 100%;
      margin-top: 40px;
      button {
        // width: 80%;
        display: block;
        padding: 6px 320px;
        margin: 0 auto;
        background: linear-gradient(
          269.78deg,
          rgba(32, 25, 106, 0.84) 12.77%,
          rgba(33, 30, 222, 0.84) 79.75%
        );
        border: 0.5px solid #61b0dc;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        font-weight: 400;
        font-size: 22px;
        // line-height: 42px;
        color: white;
        cursor: pointer;
      }
    }

    .view {
      margin-top: 20px;
      background: none;
      border: none;
      font-weight: 800;
      font-size: 25px;
      //   line-height: 2px;
      color: black;
      cursor: pointer;
    }
  }
}
